---
title: Projects
layout: layout
project_list:
    - projects/rcpp.md
    - projects/rcpparmadillo.md
---

<div class="container">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            {% capture overall_summary %}
            {% include projects/project-summary.md %}
            {% endcapture %}
            {{ overall_summary | markdownify }}
        </div>
        
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            {% for project in page.project_list %}
                {% capture project_summary %}
                {% include {{ project }} %}
                {% endcapture %}
                {{ project_summary | markdownify }}
                <hr>
            {% endfor %}
        </div>
    </div>
</div>
