.masthead-title img.logo {
	margin-left: 50px;
}

h1 {
	margin-top: 1.6rem;
	font-size: 1.6rem;
}
h2 {
	margin-top: 1.2rem;
	font-size: 1.2rem;
}
h3 {
	margin-top: 1rem;
	font-size: 1rem;
}
h4, h5, h6 {
	margin-top: 1rem;
	font-size: 1rem;
}

span, a , p, li, table, tr, th, td{
	font-size: 0.9rem;
}

code, code span {
	font-size:0.7rem !important;
}

div.container.content {
	max-width:60rem;
}

.masthead .container {
	max-width: 100%;
}

.masthead {
	padding-bottom: 0;
	margin-bottom: 2rem;
}

.small-font {
	font-size: 0.7rem;
	margin: 0 0 0 0 ;
}

/*.masthead {
    padding-bottom: 0;
    margin-bottom: 2rem;
    background: white;
    position: fixed;
    width: 100%;
}*/

h1, h2, h3, h4, h5, h6, span, code, code span, a, li, p, table, tr, th, td{
	    font-family: 'Roboto Condensed', sans-serif !important;
    /*font-weight: 600;*/
}