<!-- This layout will be the mainframe of every site -->

<!DOCTYPE html>
<html class="fuelux" lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv='Content-Type' content='text/html; charset=utf-8'>
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Ivey Business School">
    <meta name="author" content="Rafael Nicolas Fermin Cota">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="/assets/js/bootstrap.min.js" type="text/javascript"></script>
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/css/bootstrap-theme.min.css" rel="stylesheet">
    <link rel="shortcut icon" href="/favicon.ico">
  
    <!-- to avoid navbar overlapping sites -->
    <style>
      body { padding-top: 80px; }
    </style>
  </head>

  <body>
    {% include navigation.html %}
    {{ content }}
    {% include footer.html %}
  </body>
</html>
